<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      label {
        display: block;
      }

      input,
      textarea {
        display: block;
        margin: 10px;
        width: 200px;
      }

      .member-list {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      img {
        width: 250px;
        height: 250px;
      }

      table,
      tr,
      td {
        border: 1px solid;
      }

      form {
        width: 300px;
        background: gainsboro;
        margin: 10px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm()">
        <template v-if="errors.length">
          <b>Please Correct Following Error :</b>
          <ul>
            <li v-for="error in errors">{{error}}</li>
          </ul>
        </template>

        <label for="">Name :</label>
        <input
          type="text"
          :disabled="buttonState === 'upload'"
          name="title"
          ref="name"
          v-model="name"
        />
        <label>Address :</label>
        <textarea
          :disabled="buttonState === 'upload'"
          name="address"
          ref="address"
          v-model="address"
        ></textarea>
        <label for="">No Hp :</label>
        <input
          type="text"
          name="phone"
          :disabled="buttonState === 'upload'"
          ref="phone"
          v-model="phone"
        />
        <input
          type="file"
          name="photo"
          ref="photo"
          v-if="buttonState === 'upload'"
        />

        <input
          type="submit"
          value="Submit"
          v-if="!isEdited && buttonState === 'submit'"
        />
        <input
          type="button"
          value="Update"
          v-if="isEdited"
          @click="updateMember()"
        />
        <input
          type="button"
          value="Upload"
          v-if="buttonState === 'upload'"
          @click="uploadPhoto()"
        />
        <input
          type="button"
          value="Cancel"
          v-if="isEdited || buttonState  === 'upload'"
          @click="clearForm"
        />
      </form>

      <div class="member-list">
        <h1>Member List</h1>
        <member-component
          :members="members"
          @ch-edit="editMember"
          @ch-delete="deleteMember"
          @ch-upload="updatePhoto"
          :api="api"
        ></member-component>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="module">
      import { MemberComponent } from "./component/MemberComponent.js";

      var vm = new Vue({
        el: "#app",
        components: {
          "member-component": MemberComponent,
        },
        data: {
          name: "",
          api: "http://demo-api-vue.sanbercloud.com",
          address: "",
          phone: "",
          isEdited: false,
          idEdited: "",
          members: [],
          errors: [],
          buttonState: "submit",
        },
        computed: {},
        methods: {
          submitForm() {
            this.validationForm();
          },

          validationForm() {
            this.errors = [];

            if (this.name.length < 5)
              this.errors.push("Nama Minimal 5 Karakter");
            this.$refs.name.focus();

            if (this.address.length > 10)
              this.errors.push("Address Tidak boleh lebih dari 10 Karakter");
            this.$refs.address.focus();

            if (this.phone.length > 12)
              this.errors.push("No HP Tidak boleh lebih dari 10 Karakter");
            this.$refs.phone.focus();

            if (this.errors.length === 0) this.postMember();
          },

          deleteMember(id) {
            const config = {
              method: "post",
              url: `${this.api}/api/member/${id}?_method=DELETE`,
            };
            axios(config)
              .then(function (response) {
                // handle success

                vm.getMember();
                vm.clearForm();
              })
              .catch(function (error) {
                // handle error
                alert(error);
              });
          },

          editMember(index) {
            this.name = this.members[index].name;
            this.address = this.members[index].address;
            this.phone = this.members[index].no_hp;
            this.idEdited = this.members[index].id;
            this.isEdited = true;
          },

          updatePhoto(index) {
            this.name = this.members[index].name;
            this.address = this.members[index].address;
            this.phone = this.members[index].no_hp;
            this.idEdited = this.members[index].id;
            this.buttonState = "upload";
          },

          uploadPhoto() {
            let body = new FormData();
            body.append("photo_profile", this.$refs.photo.files[0]);
            const config = {
              method: "post",
              url: `${this.api}/api/member/${vm.idEdited}/upload-photo-profile`,
              data: body,
            };

            axios(config)
              .then(function (response) {
                // handle success
                vm.getMember();
                vm.clearForm();
              })
              .catch(function (error) {
                // handle error
                alert(error);
              });
          },

          updateMember() {
            let body = new FormData();
            body.append("name", this.name);
            body.append("address", this.address);
            body.append("no_hp", this.phone);
            const config = {
              method: "post",
              url: `${this.api}/api/member/${vm.idEdited}?_method=PUT`,
              data: body,
            };

            axios(config)
              .then(function (response) {
                // handle success

                vm.getMember();
                vm.clearForm();
              })
              .catch(function (error) {
                // handle error
                alert(error);
              });
          },

          clearForm() {
            vm.isEdited = false;
            vm.buttonState = "submit";
            vm.name = "";
            vm.address = "";
            vm.phone = "";
          },

          getMember: function () {
            const config = {
              method: "get",
              url: `${this.api}/api/member`,
            };

            axios(config)
              .then(function (response) {
                // handle success

                vm.members = response.data.members;
              })
              .catch(function (error) {
                // handle error
                alert(error);
              });
          },

          postMember: function () {
            let body = new FormData();
            body.append("name", this.name);
            body.append("address", this.address);
            body.append("no_hp", this.phone);
            const config = {
              method: "post",
              url: `${this.api}/api/member`,
              data: body,
            };

            axios(config)
              .then(function (response) {
                // handle success
                vm.getMember();
                vm.clearForm();
              })
              .catch(function (error) {
                // handle error
                alert(error);
              });
          },
        },
        mounted() {
          this.getMember();
        },
      });
    </script>
  </body>
</html>
