.fieldname {
  width: 100%;
  padding: 30px;
  text-align: right;
  color: white;
  background-color: darkcyan;
  border-bottom-right-radius: 50px;
  padding-right: 130px;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.flex-container {
  display: flex;
}

.flex-container div {
  flex: 1;
}

.fieldimg {
  background-image: url("./pp.jpeg");
  height: 100vh;
}

.fieldform {
  font-size: 24px;
  padding: 30px;
  font-weight: bold;
  padding-top: 200px;
  padding-left: 100px;
}

.fieldform td:first-child {
  width: 20%;
}

.fieldform td:nth-child(2) {
  width: 5%;
}
