<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="input" />
      <button v-on:click="add(input)" v-if="!isEdited">add</button>
      <button v-if="isEdited" v-on:click="update()">update</button>
      <ul>
        <li v-for="(user,index) in users" :key="user.id">
          {{ user }} <button v-on:click="edit(index)">Edit</button> ||
          <button v-on:click="deleteUser(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          input: "",
          isEdited: false,
          selectedIndex: null,
          users: ["Muhammad Iqbal Mubarok", "Ruby Purwanti", "Faqih Muhammad"],
        },
        computed: {},
        methods: {
          add: function (args) {
            this.users.push(args);
          },
          deleteUser: function (index) {
            if (confirm("Anda Yakin ?")) {
              this.users.splice(index, 1);
              this.isEdited = false;
              this.input = "";
            }
          },
          edit: function (index) {
            this.selectedIndex = index;
            this.isEdited = true;
            this.input = this.users[index];
          },
          update: function () {
            this.users[this.selectedIndex] = this.input;
            this.input = "";
            this.selectedIndex = null;
            this.isEdited = false;
          },
        },
      });
    </script>
  </body>
</html>
